/* Badge !important */
.badge {
	display: inline-block !important;
	padding: .35em .65em !important;
	font-size: .75em !important;
    text-align: center !important;
	white-space: nowrap !important;
	border-radius: .25rem !important;
}

/* Color */
.badge.primary{
    color: var(--white) !important;
    background-color: var(--blue) !important;
}
.badge.dark{
    color: var(--white) !important;
    background-color: #333 !important;
}

.badge.tag{
    color: var(--black) !important;
    background-color: var(--tag) !important;
}

/* Size */
.badge.big{
    font-size: 17px !important;
    font-weight: 680 !important;
}
