/* Button */
.button {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    color: var(--white);
    background-color: var(--blue);

    border: var(--blue) solid 1px;
    border-radius: .39rem;
}

.button:hover{
    color: var(--blue);
    background-color: var(--white);
}

.button.margin {
    margin-right: 10px;
}

.button.yellow {
    color: var(--black);
    background-color: var(--yellow);

    border: var(--yellow) solid 1px;
}
.button.yellow:hover {
    color: var(--black);
    background-color: var(--yellow-);

    border: var(--yellow-) solid 1px;
}

.button.red {
    color: var(--white);
    background-color: var(--red);

    border: var(--red) solid 1px;
}
.button.red:hover {
    color: var(--white);
    background-color: var(--red-);

    border: var(--red-) solid 1px;
}