:root {
    --tag:  rgb(255, 221, 87, 0.95);
    --hover: rgb(255, 204, 77, 0.1);
    --selection: rgb(243, 150, 154);

    --blue: rgb(0, 110, 255);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --gray: rgb(0, 0, 0, 0.5);

    --yellow: rgb(255, 193, 7);
    --yellow-: rgb(255, 202, 44);

    --red: rgb(220, 53, 69);
    --red-: rgb(187, 45, 59);
}
